.form-container {
    display: flex;
    flex-direction: column;
}

.markdown {
    background-color: white;
    max-width: 80vw;
    word-wrap: break-word;
    overflow: auto;
    border: 1px solid #ced4da;
    border-radius: 7px;
    padding: 2%;
    min-height: 20vh;
}

.markdown p {
    color: black;
}

.markdown h2 {
    color: black;
}