.formContainer {
    display:flex;
    flex-direction: column;


}

.markdown {
    background-color: white;
    max-width:45vw;
    word-wrap:break-word;
    overflow:auto;
    border:1px solid #ced4da;
    border-radius: 7px;
    padding:7px;
    min-height:20vh;
}
.markdown p {
    color:black;
}
.markdown h2 {
    color:black;
}