* {
  font-family: 'Lora', serif;
  
  
}

body {
  background:url(../Images/home-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.markdown {
  background-color: white;
  max-width:45vw;
  word-wrap:break-word;
  overflow:auto;
  border:1px solid #ced4da;
  border-radius: 7px;
  padding:7px;
  min-height:20vh;
}
.markdown p {
  color:black;
}
.editModal {
  font-size:17px;
}

.buttons-div {
  display:flex;
  justify-content: space-evenly;
}

.table-responsive {
  text-align:center;
}

.modal-content {
  background-color:#8b8b8bf7 !important;
}


