.cards-container {
    width: 90%;
    margin: 1vh auto;
    --min: 35ch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1rem;

}

.cards-container > * {
    flex: 1 1 var(--min);
}

.card {
    transition: transform .3s;
    min-height: 30vh;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header p {
    margin: 0;
}

.card-footer {
    display: flex;
    align-items: center;
    height: 20%;
    justify-content: space-between;

}

.card-text {
    margin-top: 5vh;
}

.delete-icon {
    color: #ff4747;
    font-size: 1.7em;
}
