* {
    font-family: 'Lora', serif;
}

body {
    background: linear-gradient(#030E36, #212044, #271F44, #262444, #331035) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-edit {
    font-size: 18px;
}

.modal-content {
    background-color: #8b8b8bf7 !important;
}

.date {
    width: fit-content !important;
}

.login-form :is(label,h2,h1,p) {
    color: white
}


.signup-form :is(label,h2,p) {
    color: white;
}

/*.markdown {
    background-color: white;
    max-width: 45vw;
    word-wrap: break-word;
    overflow: auto;
    border: 1px solid #ced4da;
    border-radius: 7px;
    padding: 10px;
    min-height: 20vh;
}*/

.markdown p {
    color: black;
}

.markdown h2 {
    color: black;
}